.new-question-form {
  textarea {
    margin-bottom: 10px;
    resize: none;
  }

  .btn {
    width: 100%;
  }
}

.prompt {
  .text {
    color: $grey;
    font-size: 20px;
  }

  .btn {
    width: 100%;
  }
}

