$index-question-item-tag-background-color: #e1ecf4;
$index-question-item-tag-color: #39739d;

.index-question-item {
  border-bottom: 1px solid $light-grey;
  font-size: 16px;
  padding: 12px 0 10px;

  .question-body {
    margin-bottom: .35em;
  }

  .info-block {
    .tag {
      background-color: $index-question-item-tag-background-color;
      color: $index-question-item-tag-color;
      display: inline-block;
      font-size: 12px;
      margin: 2px;
      padding: .3em .5em;
    }

    .changed-at {
      color: $grey-9;
      font-size: 12px;
      margin-top: 10px;

      .user-name {
        color: $grey;
        font-weight: bold;
      }
    }
  }
}

