.locale-select {
  .locale-select-dropdown {
    background-color: $white;
    border: 1px solid $grey;
    cursor: pointer;
    display: block;
    max-height: 500px;
    padding: 0;
    position: absolute;
    top: 10px;
    z-index: 100;

    .item {
      list-style: none;
      padding: 5px 15px;

      &:hover {
        background-color: $light-grey;
      }
    }
  }
}

