.vote-block {
  padding-right: 15px;

  .vote {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: #777;
    align-items: center;
    padding: 0 10px;

    .glyphicon-triangle-top,
    .glyphicon-triangle-bottom {
      cursor: pointer;
    }
  }
}

