<div class="vote">
  <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" onclick={{action vote 1}}></span>

  <span class="value">{{votes}}</span>

  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" onclick={{action vote -1}}></span>
</div>
