<div class="question-body">
  {{link-to question.text 'questions.show' question.id}}
</div>

<div class="info-block">
  <span class="tag">{{question.languageFrom.code}} - {{question.languageTo.code}}</span>
</div>

