<div class="well row prompt">
  <div class="col-md-9 text">
    <p>{{t 'index.prompt'}}</p>
  </div>
  <div class="col-md-3">
    {{link-to (t 'header.signup-link') 'signup' class="btn btn-primary btn-lg"}}
  </div>
</div>
